@{
    ViewData["Title"] = "Home Page";
}
<style>

    body {
        font-family: Arial, sans-serif;
        background-color: teal;
        color: #333;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
    }

    .hero {
        background-size: cover;
        padding: 150px 0;
        color: white;
        text-align: center;
    }
    .btn-primary{
        background-color:black;
    }
</style>
<body>
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1 class="display-4 fw-bold">Book Your Dream Event Today!</h1>
            <p class="lead">Weddings, Conferences, Parties & More. We’ve Got You Covered!</p>
            <a  asp-area="" asp-controller="Booking" asp-action="Create" class="btn btn-primary btn-lg mt-3">Book Now</a>
        </div>
    </section>

</body>

